{% load static %}
<html>
	<head>
		<title>Zirui's Blog</title>
		<link rel="stylesheet" rel='stylesheet' href="{% static 'css/introduction.css' %}">
		<script type="text/javascript" src="{% static 'javascript/backButton.js' %}"></script>
	</head>
	
	<body>
		<div class="leftBar">
			{% for detail in details %}
			<div class="introName">
				<h1>{{detail.name}}</h1>
			</div>
			
			<div class="introPhoto">
				<img src="{% static 'images/myPhoto.JPG' %}"/>
			</div>
			
			<div class="leftBarTitle">
				<h3>Phone</h3>
			</div>
			<div class="phone">
				<p>{{detail.phone1}}</p>
			</div>
			
			<div class="leftBarTitle">
				<h3>Email</h3>
			</div>
			<div class="email">
				<p>{{detail.email}}</p>
			</div>
			
			<div class="leftBarTitle">
				<h3>Address</h3>
			</div>
			<div class="address">
				<p>{{detail.address}},</p>
				<p>{{detail.city}},</p>
				<p>{{detail.country}}</p>
			</div>
			
			<div class="icons">
				<span class="githubIcon">
					<a href="https://github.com/ziruiwang333/myBlog_v2.0/" target="_blank"><img src="{% static 'images/githubIcon.png' %}"/></a>
				</span>
				
				<span class="facebookIcon">
					<a href="https://www.facebook.com/zirui.wang.79827/" target="_blank"><img src="{% static 'images/facebookIcon.png' %}"/></a>
				</span>
			</div>
			{% endfor %}
		</div>
		
		<div class="introContent">
			<!-- introEducation -->
			
			<div class="introEducation">
				<div class="education">Education</div>
				{% for ed in education %}
				<div class="introUniversity">{{ ed.university }} <span class="introUniTime">{{ed.start_date}}-{{ed.end_date}}</span></div>
				<div class="introCurrent">{{ed.degree}}</div>
				<div class="introCollege">College: <span class="introCollegeDetail">{{ed.college}}</span></div>
				<div class="introSubject">Subject: <span class="introSubjectDetail">{{ed.subject}}</span></div>
				<div class="introCourses">
					<div class="courses">Courses</div>
					<div class="introYearOne">
						<div class="yearOne">Year 1</div>
						{% for y1 in year1 %}
						<div class="coursesOne">{{ y1.course }}</div>
						{% endfor %}
					</div>
					<div class="introYearTwo">
						<div class="yearTwo">Year 2</div>
						{% for y2 in year2 %}
						<div class="coursesTwo">{{ y2.course }}</div>
						{% endfor %}
					</div>
					<div class="introYearThree">
						<div class="yearThree">Year 3</div>
						{% for y3 in year3 %}
						<div class="coursesTwo">{{ y3.course }}</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
			
			<!-- -->
			<div class="introWorkExperience">
				<div class="workExperience">Work Experience</div>
				{% for workExp in work_experience %}
				<div class="company">{{workExp.company_name}} <span class="workTime">{{workExp.start_date}}-{{workExp.end_date}}</span></div>
				<div class="jobTitle">{{workExp.job_title}}</div>
				<div class="jobOneDetail">{{workExp.job_describe|linebreaksbr}}</div>
				{% endfor %}
			</div>

			
			<!-- -->
			<div class="introPersonalStatement">
				<div class="personalStatement">Personal Statement</div>
					{% for myps in ps %}
					<div class="statementDeatil">{{myps.ps_describe|linebreaksbr}}</div>
					{% endfor %}
			</div>
		</div>
		
		<button type="button" class="backButton" onclick="back()">Back</button>
		
	</body>
</html>